@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');

:root {
  --primary-color: hsl(218, 100%, 58%);
  --attention-color: hsl(0, 70%, 60%);
}

body {
  font-family: 'Comfortaa', sans-serif;
}

p {
  margin: 0;
  padding: 0;
  text-align: center;
}

fieldset {
  display: flex;
  gap: 1em;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 6em;
  padding: .5em;
  border: 1px black solid;
  border-radius: 1em;
}

.card img {
  height: 5em;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.card > input {
  display: none;
}

.card.selected {
  box-shadow: 0 0 0 2px white,
              0 0 0 5px var(--primary-color);
}

.card p {
  margin: 0;
  padding: .1em;
  text-align: center;
}

.free::after {
  color: var(--attention-color);
  content: "free";
}

.cent {
  position: absolute;
  padding-left: .1em;
  font-size: .8rem;
}

.price.extra::before {
  content: "+"
}

.price::after {
  content:"€";
  padding-left: 1.2em;
}